import info.gridworld.actor.ActorWorld;
import info.gridworld.grid.Location;
import info.gridworld.grid.BoundedGrid;
import java.awt.Color;

/*
 * This is the main class for Project 13 - Part 1.
 * It sets up a world with 3 bugs, each drawing a separate word.
 */
public class Main
{

    public static void main(String[] args)
    {
        // Setup Bugs
        Bug1 liveBug = new Bug1();
        Bug2 likeBug = new Bug2();
        Bug3 meBug   = new Bug3();

        // Assign colors to bugs:
        liveBug.setColor(Color.blue);
        likeBug.setColor(Color.pink);
        meBug.setColor(Color.cyan);

        //Set bounded grid with size 30 rows x 45 columns:
        BoundedGrid myGrid= new BoundedGrid(30,45);
        ActorWorld world= new ActorWorld(myGrid);

        // Add bugs onto world:
        world.add(new Location(2,5),  liveBug);
        world.add(new Location(11,5), likeBug);
        world.add(new Location(26,5), meBug);

        world.show();
    }

}






//bug1


import info.gridworld.actor.Bug;
import info.gridworld.grid.Location;

/*
* This bug is part of assignment Project 13 - part 1.
* It draws the word "LIVE" on the grid,
* starting from the bug's initial location.
*/
class Bug1 extends Bug {

    // Incremented at each move, to keep track of what part of what word to draw next:
    int step=0;

    public void act()
    {
        if(step<=5)
        {
            // Draw the vertical line of letter L:
            setDirection(180);
            move();
        }
        else if(step<10)
        {
            // Draw the horizontal line of letter L:
            setDirection(90);
            move();
        }
        else if(step==11)
        {
            // Move to the start top horizontal line of letter I
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()-6, currentLoc.getCol()+2));
        }
        else if(step<16)
        {
            // Draw the top horizontal line of letter I
            move();
        }
        else if(step==17)
        {
            // Move to the start of the vert. line for letter I
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()+1, currentLoc.getCol()-3));
            setDirection(180);
        }
        else if(step<23)
        {
            // Draw the vert. line of letter I
            move();
        }
        else if(step==23)
        {
            // Move to the start of the bottom horiz. line of letter I
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow(), currentLoc.getCol()-2));
            setDirection(90);
        }
        else  if(step<29)
        {
            // Draw the bottom horiz. line of letter I
            move();
        }
        else if(step==29)
        {
            // Move to the start of letter V
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()-6, currentLoc.getCol()+2));
            setDirection(180);
        }
        else if(step<36)
        {
            //  Draw the left vert. line of letter V
            move();
        }
        else if(step==36)
        {
            // Change direction so that we could draw the right vert. line of letter V
            setDirection(45);
        }
        else if(step<44)
        {
            //  Draw the right vert. line of letter V
            move();
        }
        else if(step==44)
        {
            // Move to the start of letter E
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()+1, currentLoc.getCol()+1));
            setDirection(90);
        }
        else if(step<50)
        {
            // Draw the top horiz. line of letter E
            move();
        }
        else if(step==50)
        {
            // Move to the start of middle horiz. line of letter E
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()+3, currentLoc.getCol()-5));
        }
        else if(step<56)
        {
            // Draw the middle horiz. line of letter E
            move();
        }
        else if(step==56)
        {
            // Move to the start of bottom horiz. line of letter E
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()+3, currentLoc.getCol()-5));
        }
        else if(step<62)
        {
            // Draw the bottom horiz. line of letter E
            move();
        }
        else if(step==62)
        {
            // Move to the start of vert. line of letter E
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()-6, currentLoc.getCol()-5));
            setDirection(180);
        }
        else if(step<69)
        {
            // Draw the bottom horiz. line of letter E
            move();
        }

        step++;
    }
}



// bug2


import info.gridworld.actor.Bug;
import info.gridworld.grid.Location;

/*
* This bug is part of assignment Project 13 - part 1.
* It draws the word "LIKE" on the grid,
* starting from the bug's initial location.
*/
class Bug2 extends Bug {

    // Incremented at each move, to keep track of what part of what word to draw next:
    int step=0;

    public void act()
    {
        if(step<=5)
        {
            // Draw the vertical line of letter L:
            setDirection(180);
            move();
        }
        else if(step<10)
        {
            // Draw the horizontal line of letter L:
            setDirection(90);
            move();
        }
        else if(step==11)
        {
            // Move to the start top horizontal line of letter I
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()-6, currentLoc.getCol()+2));
        }
        else if(step<16)
        {
            // Draw the top horizontal line of letter I
            move();
        }
        else if(step==17)
        {
            // Move to the start of the vert. line for letter I
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()+1, currentLoc.getCol()-3));
            setDirection(180);
        }
        else if(step<23)
        {
            // Draw the vert. line of letter I
            move();
        }
        else if(step==23)
        {
            // Move to the start of the bottom horiz. line of letter I
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow(), currentLoc.getCol()-2));
            setDirection(90);
        }
        else  if(step<29)
        {
            // Draw the bottom horiz. line of letter I
            move();
        }
        else if(step==29)
        {
            // Move to the start of letter K
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()-6, currentLoc.getCol()+2));
            setDirection(180);
        }
        else if(step<37)
        {
            //  Draw the vert. line of letter K
            move();
        }
        else if(step==37)
        {
            // Change location and direction so that we could draw the top right. line of letter K
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()-2, currentLoc.getCol()));
            setDirection(45);
        }
        else if(step<44)
        {
            //  Draw the top right. line of letter K
            move();
        }
        else if(step==44)
        {
            // Change location and direction so that we could draw the bottom right. line of letter K
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()+5, currentLoc.getCol()-3));
            setDirection(135);
        }
        else if(step<47)
        {
            //  Draw the bottom right. line of letter K
            move();
        }
        else if(step==48)
        {
            // Move to the start of letter E
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()-7, currentLoc.getCol()+2));
            setDirection(90);
        }
        else if(step<54)
        {
            // Draw the top horiz. line of letter E
            move();
        }
        else if(step==54)
        {
            // Move to the start of middle horiz. line of letter E
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()+3, currentLoc.getCol()-5));
        }
        else if(step<60)
        {
            // Draw the middle horiz. line of letter E
            move();
        }
        else if(step==60)
        {
            // Move to the start of bottom horiz. line of letter E
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()+3, currentLoc.getCol()-5));
        }
        else if(step<66)
        {
            // Draw the bottom horiz. line of letter E
            move();
        }
        else if(step==66)
        {
            // Move to the start of vert. line of letter E
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()-6, currentLoc.getCol()-5));
            setDirection(180);
        }
        else if(step<73)
        {
            // Draw the bottom horiz. line of letter E
            move();
        }

        step++;
    }
}

//bug3

import info.gridworld.actor.Bug;
import info.gridworld.grid.Location;

/*
* This bug is part of assignment Project 13 - part 1.
* It draws the word "ME!" on the grid,
* starting from the bug's initial location.
*/
class Bug3 extends Bug {

    // Incremented at each move, to keep track of what part of what word to draw next:
    int step=0;

    public void act()
    {
        if(step<=5)
        {
            // Draw the left vertical line of letter M:
            setDirection(0);
            move();
        }
        else if(step<=7)
        {
            // Draw the 2nd line of letter M:
            setDirection(135);
            move();
        }
        else if(step<=9)
        {
            // Draw the 2nd line of letter M:
            setDirection(45);
            move();
        }
        else if(step<17)
        {
            // Draw the right vertical line of letter M:
            setDirection(180);
            move();
        }
        else if(step==17)
        {
            // Move to the start of letter E
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()-7, currentLoc.getCol()+3));
            setDirection(90);
        }
        else if(step<23)
        {
            // Draw the top horiz. line of letter E
            move();
        }
        else if(step==23)
        {
            // Move to the start of middle horiz. line of letter E
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()+3, currentLoc.getCol()-5));
        }
        else if(step<29)
        {
            // Draw the middle horiz. line of letter E
            move();
        }
        else if(step==29)
        {
            // Move to the start of bottom horiz. line of letter E
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()+3, currentLoc.getCol()-5));
        }
        else if(step<35)
        {
            // Draw the bottom horiz. line of letter E
            move();
        }
        else if(step==35)
        {
            // Move to the start of vert. line of letter E
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()-6, currentLoc.getCol()-5));
            setDirection(180);
        }
        else if(step<43)
        {
            // Draw the bottom horiz. line of letter E
            move();
        }
        else if(step==43)
        {
            // Move to the start of vert. line of exclamation mark
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()-7, currentLoc.getCol()+7));
            setDirection(180);
        }
        else if(step<49)
        {
            // Draw the vert. line of exclamation mark
            move();
        }
        else if(step==49)
        {
            // Move bug to the exclamation mark dot.
            Location currentLoc = getLocation();
            moveTo(new Location(currentLoc.getRow()+1, currentLoc.getCol()));
        }

        step++;
    }

}


